{% extends 'FOSMessageBundle::layout.html.twig' %}



{% block fos_message_content %}

{{ form_errors(form) }}

<form class="inbox-compose form-horizontal" id="fileupload" action="{{ url('fos_message_thread_new') }}" method="POST" enctype="multipart/form-data">
	<div class="inbox-compose-btn">
		<h2>{% trans from 'FOSMessageBundle' %}send_new{% endtrans %}</h2>
	</div>
	<div class="inbox-form-group mail-to">
		<label class="control-label">To:</label>
		<div class="controls controls-to">
			<input type="text" class="form-control" name="message[recipient]">
			
		</div>
	</div>

	<div class="inbox-form-group">
		<label class="control-label">Subject:</label>
		<div class="controls">
			<input type="text" class="form-control" name="message[subject]">
		</div>
	</div>
	<div class="inbox-form-group">
		<textarea class="inbox-editor inbox-wysihtml5 form-control" name="message[body]" rows="11"></textarea>
	</div>
	
	<!-- The template to display files available for download -->
	<script type="text/javascript">
	jQuery(document).ready(function($){
     $('.inbox-wysihtml5').wysihtml5({
            "stylesheets": ["{{ asset('message/plugins/bootstrap-wysihtml5/wysiwyg-color.css') }}"]
        });
	});

	</script>
	
	    {{ form_row(form._token) }}

    <input type="submit" />
</form>

{% endblock %}
